{% extends "appfarm/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <div class="container">
        <center>
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Ingresa a la app</legend>
                    {{form | crispy}}
                </fieldset>
                <div class="form-group">
                    <button type="submit">Registrar</button>
                </div>
            </form>
            <div class="border-top pt-3">
                <small class="text-muted">
                    ¿Ya tienes una cuenta?<a class="ml-2" href="{% url 'login' %}">Ingresa aquí</a>
                </small>
            </div>
        </center>
    </div>
</div>
{% endblock content %}